.wrapper {
  max-width: 520px;
  margin: 0 auto;
}

ion-card-title {
  font-size: 1.2rem;
}

.hint {
  margin-top: 12px;
  display: block;
}

.perm-thumb {
  --size: 48px;
  border-radius: 12px;
  overflow: hidden;
  background: #f3f4f6;

  display: flex;
  align-items: center;
  justify-content: center;
}
.perm-thumb {
  width: 32px;   /* istersen 24/28/36 dene */
  height: 32px;
  --size: 32px;  /* bazı Ionic sürümlerinde etkili */
  min-width: 32px;
  min-height: 32px;
}

.perm-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
